<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<div class="wrapper">
					<h1>Thanks for visiting our site! <em>Click on HOME to go back to main page or follow <a href="#">this link</a> to provide any feedback</em></h1>
				</div>
			</div>
		</div>
	</div>
</div>
