<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<h2>Reset Password <em>for existing customers</em></h2>
				<p>Are you experiencing trouble logging into our site? Did you forget your password? No worries. <br />Please provide your email address and we will reset your password and send it to your email so that you can change once you login.</p>
				<%= form_tag 'passwordreset', :id=>'new_user' do |formQuote| %>
					<div class="field">
						<label>Email Address: </label>
						<%= text_field_tag 'email', nil, :class=>'text' %>
					</div>
					<!--<div class="field">
						<label>Captcha Image: </label>
						<%= text_field_tag 'captcha', nil, :class=>'text' %>
					</div>-->
					<div class="wrapper">
						<%= submit_tag value = "Reset", :class => "submit"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>