<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<div class="article">
					<h2>Services</h2>
					<a name="services"></a>
					<div class="img-box">
						<%= image_tag "img3.jpg" %><h5><%= t 'app.company.name', default: 'A&S Designs' %> is based in Washington DC, <br />Maryland and Virginia.</h5>
					</div>
					<br />
					<div class="wrapper">
						<div class="col-1">
							BIM / Architectural Detailing Services <br />
							<font size="1">BIM Services <br />
								Architectural Drawings <br />
								Architectural Renderings <br />
								Permitting Drawings (any county) <br />
								Structural/Steel Design & Detailing <br />
								Piping Design & Detailing <br />
								Construction Documents/Working Drawings <br />
								CADD as Built Drawings <br />
								Measured Drawing <br />
								Redline drawing <br />
							</font> 
						</div>
						<div class="col-2" style="position:relative; left:50px;">
							Mechanical Services <br />
							<font size="1">Plant / Riser Models <br />
								3D Modelling <br />
								Design Validation <br />
								Drafting <br />
								As Fitted Drawings <br />
							</font> 
						</div>
					</div>
					<br />
					<br />
					<div class="wrapper">
						<div class="col-1">
							CAD Design and Drafting services <br />
							<font size="1">CAD Drafting & Designing <br />
								3D Modelling <br />
								Engineering Drawings <br />
								Overnight Conversion <br />
								Patent Drawings <br />
							</font> 
						</div>
						<div class="col-2" style="position:relative; left:70px;">
							Structural and Civil Services <br /> 
							<font size="1">Designing, Drafting & Detailing <br />
								3d Modeling <br />
								Fabrication Drawing/shop Drawing <br />
							</font> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>