<!-- content -->
<div id="content"><div class="ic">More Website Templates at TemplateMonster.com!</div>
	<div class="container">
		<div class="wrapper">
			<div class="aside">
				&nbsp;
			</div>
			<div class="mainContent">
				<div class="wrapper">
					<h1>Thank you for contacting us! <em>We will get back to you soon. Please watch out for an email from <a href="<%= t 'app.support.email', default: 'support@codingsherpa.com' %>"><%= t 'app.support.email', default: 'support@codingsherpa.com' %></a></em></h1>
				</div>
			</div>
		</div>
	</div>
</div>
