<!-- footer -->
<div id="footer">
	<div class="container">
		<a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website template</a> designed by TemplateMonster.com<br />
		<a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a> provided by Templates.com
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>